{
  "presets": [
    "flow",
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "inline-react-svg",    
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
