/* add css styles here (optional) */
.editor-block-content{
  width: calc(100% - 76px);
  padding: 16px 24px 24px 16px;
  line-height: 26px;
  font-size: 15px;
}

.editor-block-container{
  display:flex;
  position: relative;
  width:100%;
}